In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/cammesa/maximos_historicos.csv')
df.head()

,AÑO,MES,N° MES,VERANO / INVIERNO,SEMANA,FECHA,TIPO DIA,DIA,N° DIA,Energía SADI (GWh),Potencia Pico SADI (MW),Hora Potencia Pico,Temperatura Media Diaria GBA (°C),Estado del Tiempo [Claro/Nublado/Seminublado]
0,2007,ene-07,1,VERANO,1,1/1/2007,FERIADO,Lunes,1,"277,6","14157,0","21,5","29,2",C
1,2007,ene-07,1,VERANO,1,1/2/2007,HÁBIL,Martes,2,"325,4","15801,0","21,02","26,0",N
2,2007,ene-07,1,VERANO,1,1/3/2007,HÁBIL,Miércoles,3,"325,5","16136,0","21,11","25,0",N
3,2007,ene-07,1,VERANO,1,1/4/2007,HÁBIL,Jueves,4,"334,0","16782,0","21,16","25,0",N
4,2007,ene-07,1,VERANO,1,1/5/2007,HÁBIL,Viernes,5,"320,3","15321,0","21,23","22,6",C

In [5]:
df_maximos = df[['VERANO / INVIERNO', 'SEMANA', 'FECHA', 'TIPO DIA', 'DIA', 'Energía SADI (GWh)', 'Potencia Pico SADI (MW)', 'Hora Potencia Pico', 'Temperatura Media Diaria GBA  (°C)', 'Estado del Tiempo [Claro/Nublado/Seminublado]']]
df_maximos

,VERANO / INVIERNO,SEMANA,FECHA,TIPO DIA,DIA,Energía SADI (GWh),Potencia Pico SADI (MW),Hora Potencia Pico,Temperatura Media Diaria GBA (°C),Estado del Tiempo [Claro/Nublado/Seminublado]
0,VERANO,1,1/1/2007,FERIADO,Lunes,"277,6","14157,0","21,5","29,2",C
1,VERANO,1,1/2/2007,HÁBIL,Martes,"325,4","15801,0","21,02","26,0",N
2,VERANO,1,1/3/2007,HÁBIL,Miércoles,"325,5","16136,0","21,11","25,0",N
3,VERANO,1,1/4/2007,HÁBIL,Jueves,"334,0","16782,0","21,16","25,0",N
4,VERANO,1,1/5/2007,HÁBIL,Viernes,"320,3","15321,0","21,23","22,6",C
...,...,...,...,...,...,...,...,...,...,...
6001,VERANO,23,6/7/2023,HÁBIL,Miércoles,"399,4","19646,0",21,"18,4",N
6002,VERANO,23,6/8/2023,HÁBIL,Jueves,"391,9","19004,0","20,07","21,8",N
6003,VERANO,23,6/9/2023,HÁBIL,Viernes,"391,8","19758,0",20.49,"18,0",N
6004,VERANO,23,6/10/2023,SÁBADO,Sábado,"405,3","20424,0",20.20,"10,6",N
6005,VERANO,23,6/11/2023,DOMINGO,Domingo,"404,1","21502,0","21,03","8,3",C

In [6]:
df_maximos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6006 entries, 0 to 6005
Data columns (total 10 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   VERANO / INVIERNO                              6006 non-null   object
 1   SEMANA                                         6006 non-null   int64
 2   FECHA                                          6006 non-null   object
 3   TIPO DIA                                       6006 non-null   object
 4   DIA                                            6006 non-null   object
 5   Energía SADI (GWh)                             6006 non-null   object
 6   Potencia Pico SADI (MW)                        6006 non-null   object
 7   Hora Potencia Pico                             6006 non-null   object
 8   Temperatura Media Diaria GBA  (°C)             6006 non-null   object
 9   Estado del Tiempo [Claro/Nublado/Seminublado]  6006 non-null   object
dtypes: int64(1), object(9)
memory usage: 469.3+ KB

In [7]:
df_maximos['Energía SADI (GWh)'] = df_maximos['Energía SADI (GWh)'].str.replace(',', '.').astype(float)
df_maximos['Potencia Pico SADI (MW)'] = df_maximos['Potencia Pico SADI (MW)'].str.replace(',', '.').astype(float)
df_maximos['Temperatura Media Diaria GBA  (°C)'] = df_maximos['Temperatura Media Diaria GBA  (°C)'].str.replace(',', '.').astype(float)

C:\Users\javic\AppData\Local\Temp\ipykernel_10300\1646822360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maximos['Energía SADI (GWh)'] = df_maximos['Energía SADI (GWh)'].str.replace(',', '.').astype(float)
C:\Users\javic\AppData\Local\Temp\ipykernel_10300\1646822360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maximos['Potencia Pico SADI (MW)'] = df_maximos['Potencia Pico SADI (MW)'].str.replace(',', '.').astype(float)
C:\Users\javic\AppData\Local\Temp\ipykernel_10300\1646822360.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maximos['Temperatura Media Diaria GBA  (°C)'] = df_maximos['Temperatura Media Diaria GBA  (°C)'].str.replace(',', '.').astype(float)

In [10]:
df_maximos['Hora Potencia Pico'] = df_maximos['Hora Potencia Pico'].str.replace(',', ':')
df_maximos['fecha_hora_potencia_pico'] = pd.to_datetime(df_maximos['FECHA'] + ' ' + df_maximos['Hora Potencia Pico'])

C:\Users\javic\AppData\Local\Temp\ipykernel_10300\2925337437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maximos['Hora Potencia Pico'] = df_maximos['Hora Potencia Pico'].str.replace(',', ':')

ValueError: time data "9/5/2021 210:50" doesn't match format "%m/%d/%Y %H:%M", at position 5361. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

Para despues: verificar errores en formato de hora en la columna "Hora Potencia Pico"

In [11]:
df_maximos.head()

,VERANO / INVIERNO,SEMANA,FECHA,TIPO DIA,DIA,Energía SADI (GWh),Potencia Pico SADI (MW),Hora Potencia Pico,Temperatura Media Diaria GBA (°C),Estado del Tiempo [Claro/Nublado/Seminublado]
0,VERANO,1,1/1/2007,FERIADO,Lunes,277.6,14157.0,21:5,29.2,C
1,VERANO,1,1/2/2007,HÁBIL,Martes,325.4,15801.0,21:02,26.0,N
2,VERANO,1,1/3/2007,HÁBIL,Miércoles,325.5,16136.0,21:11,25.0,N
3,VERANO,1,1/4/2007,HÁBIL,Jueves,334.0,16782.0,21:16,25.0,N
4,VERANO,1,1/5/2007,HÁBIL,Viernes,320.3,15321.0,21:23,22.6,C