In [18]:
import pandas as pd
from datetime import datetime

In [19]:
df = pd.read_csv('./data/cammesa/maximos_historicos.csv')
df.head()

,AÑO,MES,N° MES,VERANO / INVIERNO,SEMANA,FECHA,TIPO DIA,DIA,N° DIA,Energía SADI (GWh),Potencia Pico SADI (MW),Hora Potencia Pico,Temperatura Media Diaria GBA (°C),Estado del Tiempo [Claro/Nublado/Seminublado]
0,2007,ene-07,1,VERANO,1,1/1/2007,FERIADO,Lunes,1,"277,6","14157,0","21,5","29,2",C
1,2007,ene-07,1,VERANO,1,1/2/2007,HÁBIL,Martes,2,"325,4","15801,0","21,02","26,0",N
2,2007,ene-07,1,VERANO,1,1/3/2007,HÁBIL,Miércoles,3,"325,5","16136,0","21,11","25,0",N
3,2007,ene-07,1,VERANO,1,1/4/2007,HÁBIL,Jueves,4,"334,0","16782,0","21,16","25,0",N
4,2007,ene-07,1,VERANO,1,1/5/2007,HÁBIL,Viernes,5,"320,3","15321,0","21,23","22,6",C

In [20]:
df_maximos = df[['VERANO / INVIERNO', 'SEMANA', 'FECHA', 'TIPO DIA', 'DIA', 'Energía SADI (GWh)', 'Potencia Pico SADI (MW)', 'Hora Potencia Pico', 'Temperatura Media Diaria GBA  (°C)', 'Estado del Tiempo [Claro/Nublado/Seminublado]']]
df_maximos

,VERANO / INVIERNO,SEMANA,FECHA,TIPO DIA,DIA,Energía SADI (GWh),Potencia Pico SADI (MW),Hora Potencia Pico,Temperatura Media Diaria GBA (°C),Estado del Tiempo [Claro/Nublado/Seminublado]
0,VERANO,1,1/1/2007,FERIADO,Lunes,"277,6","14157,0","21,5","29,2",C
1,VERANO,1,1/2/2007,HÁBIL,Martes,"325,4","15801,0","21,02","26,0",N
2,VERANO,1,1/3/2007,HÁBIL,Miércoles,"325,5","16136,0","21,11","25,0",N
3,VERANO,1,1/4/2007,HÁBIL,Jueves,"334,0","16782,0","21,16","25,0",N
4,VERANO,1,1/5/2007,HÁBIL,Viernes,"320,3","15321,0","21,23","22,6",C
...,...,...,...,...,...,...,...,...,...,...
6001,VERANO,23,6/7/2023,HÁBIL,Miércoles,"399,4","19646,0",21,"18,4",N
6002,VERANO,23,6/8/2023,HÁBIL,Jueves,"391,9","19004,0","20,07","21,8",N
6003,VERANO,23,6/9/2023,HÁBIL,Viernes,"391,8","19758,0",20.49,"18,0",N
6004,VERANO,23,6/10/2023,SÁBADO,Sábado,"405,3","20424,0",20.20,"10,6",N
6005,VERANO,23,6/11/2023,DOMINGO,Domingo,"404,1","21502,0","21,03","8,3",C

In [21]:
df_maximos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6006 entries, 0 to 6005
Data columns (total 10 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   VERANO / INVIERNO                              6006 non-null   object
 1   SEMANA                                         6006 non-null   int64
 2   FECHA                                          6006 non-null   object
 3   TIPO DIA                                       6006 non-null   object
 4   DIA                                            6006 non-null   object
 5   Energía SADI (GWh)                             6006 non-null   object
 6   Potencia Pico SADI (MW)                        6006 non-null   object
 7   Hora Potencia Pico                             6006 non-null   object
 8   Temperatura Media Diaria GBA  (°C)             6006 non-null   object
 9   Estado del Tiempo [Claro/Nublado/Seminublado]  6006 non-null   object
dtypes: int64(1), object(9)
memory usage: 469.3+ KB

In [22]:
df_maximos['Energía SADI (GWh)'] = df_maximos['Energía SADI (GWh)'].str.replace(',', '.').astype(float)
df_maximos['Potencia Pico SADI (MW)'] = df_maximos['Potencia Pico SADI (MW)'].str.replace(',', '.').astype(float)
df_maximos['Temperatura Media Diaria GBA  (°C)'] = df_maximos['Temperatura Media Diaria GBA  (°C)'].str.replace(',', '.').astype(float)

C:\Users\javic\AppData\Local\Temp\ipykernel_14668\2634929784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maximos['Energía SADI (GWh)'] = df_maximos['Energía SADI (GWh)'].str.replace(',', '.').astype(float)
C:\Users\javic\AppData\Local\Temp\ipykernel_14668\2634929784.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maximos['Potencia Pico SADI (MW)'] = df_maximos['Potencia Pico SADI (MW)'].str.replace(',', '.').astype(float)
C:\Users\javic\AppData\Local\Temp\ipykernel_14668\2634929784.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maximos['Temperatura Media Diaria GBA  (°C)'] = df_maximos['Temperatura Media Diaria GBA  (°C)'].str.replace(',', '.').astype(float)

In [23]:
df_maximos[df_maximos['Hora Potencia Pico'].str.len() > 5]

,VERANO / INVIERNO,SEMANA,FECHA,TIPO DIA,DIA,Energía SADI (GWh),Potencia Pico SADI (MW),Hora Potencia Pico,Temperatura Media Diaria GBA (°C),Estado del Tiempo [Claro/Nublado/Seminublado]
5361,INVIERNO,35,9/5/2021,DOMINGO,Domingo,330.0,17248.0,"210,50",14.7,N

In [24]:
df_maximos[df_maximos['Hora Potencia Pico'].str.len() < 5]

,VERANO / INVIERNO,SEMANA,FECHA,TIPO DIA,DIA,Energía SADI (GWh),Potencia Pico SADI (MW),Hora Potencia Pico,Temperatura Media Diaria GBA (°C),Estado del Tiempo [Claro/Nublado/Seminublado]
0,VERANO,1,1/1/2007,FERIADO,Lunes,277.6,14157.0,"21,5",29.2,C
32,VERANO,5,2/2/2007,HÁBIL,Viernes,355.6,17517.0,"21,2",28.6,C
58,VERANO,9,2/28/2007,HÁBIL,Miércoles,319.3,16442.0,"20,5",21.0,N
278,VERANO,40,10/6/2007,SÁBADO,Sábado,273.2,14360.0,"20,4",19.5,SN
352,VERANO,51,12/19/2007,HÁBIL,Miércoles,341.7,17010.0,"21,1",20.8,C
354,VERANO,51,12/21/2007,HÁBIL,Viernes,365.8,17490.0,"21,2",29.5,N
363,VERANO,52,12/30/2007,DOMINGO,Domingo,291.8,15956.0,"22,6",27.8,C
364,VERANO,53,12/31/2007,HÁBIL,Lunes,315.7,14534.0,"22,2",31.0,C
365,VERANO,1,1/1/2008,FERIADO,Martes,283.9,14548.0,"22,5",28.1,C
392,VERANO,5,1/28/2008,HÁBIL,Lunes,317.5,15531.0,"21,5",23.5,N
393,VERANO,5,1/29/2008,HÁBIL,Martes,323.9,15450.0,"21,6",25.1,N
394,VERANO,5,1/30/2008,HÁBIL,Miércoles,322.7,15577.0,"22,1",25.0,N
395,VERANO,5,1/31/2008,HÁBIL,Jueves,327.4,16029.0,"22,1",25.1,SN
396,VERANO,5,2/1/2008,HÁBIL,Viernes,331.9,15962.0,"22,0",26.0,SN
397,VERANO,5,2/2/2008,SÁBADO,Sábado,306.8,14848.0,"22,0",26.8,N
398,VERANO,5,2/3/2008,DOMINGO,Domingo,268.9,14328.0,"22,3",21.1,SN
443,VERANO,12,3/19/2008,HÁBIL,Miércoles,343.1,17697.0,"20,2",23.7,SN
451,VERANO,13,3/27/2008,HÁBIL,Jueves,314.6,15859.0,"20,1",22.1,N
460,INVIERNO,14,4/5/2008,SÁBADO,Sábado,288.0,15324.0,"20,2",22.8,C
473,INVIERNO,16,4/18/2008,HÁBIL,Viernes,309.8,16186.0,"19,6",20.8,C
474,INVIERNO,16,4/19/2008,SÁBADO,Sábado,287.8,15188.0,"19,6",20.8,SN
475,INVIERNO,16,4/20/2008,DOMINGO,Domingo,263.3,14348.0,"20,0",22.4,SN
494,INVIERNO,19,5/9/2008,HÁBIL,Viernes,315.9,16666.0,"19,5",14.1,C
495,INVIERNO,19,5/10/2008,SÁBADO,Sábado,292.5,15945.0,"20,1",14.1,SN
496,INVIERNO,19,5/11/2008,DOMINGO,Domingo,265.7,14476.0,"20,1",14.3,SN
506,INVIERNO,21,5/21/2008,HÁBIL,Miércoles,321.0,17037.0,"19,3",21.0,SN
560,INVIERNO,29,7/14/2008,HÁBIL,Lunes,309.7,16492.0,"19,1",16.1,C
578,INVIERNO,31,8/1/2008,HÁBIL,Viernes,337.0,17340.0,"19,4",13.3,C
579,INVIERNO,31,8/2/2008,SÁBADO,Sábado,317.5,16821.0,"20,0",10.6,C
580,INVIERNO,31,8/3/2008,DOMINGO,Domingo,293.0,16145.0,"20,6",7.9,C
4736,VERANO,51,12/20/2019,HÁBIL,Viernes,411.8,18463.0,"9,41",22.9,N
5620,INVIERNO,20,5/22/2022,DOMINGO,Domingo,360.4,18530.0,"21,2",14.7,SN
5622,INVIERNO,21,5/24/2022,HÁBIL,Martes,405.0,19836.0,"21,1",17.6,N
5844,VERANO,52,1/1/2023,FERIADO,Domingo,358.0,16521.0,22.8,24.5,N
5848,VERANO,1,1/5/2023,HÁBIL,Jueves,460.8,23436.0,15.4,26.3,C
5852,VERANO,2,1/9/2023,HÁBIL,Lunes,504.3,26099.0,15.3,27.7,C
5859,VERANO,3,1/16/2023,HÁBIL,Lunes,512.9,26609.0,15.5,30.7,C
5891,VERANO,7,2/17/2023,HÁBIL,Viernes,360.3,17356.0,21.1,12.5,N
5918,VERANO,11,3/16/2023,HÁBIL,Jueves,538.5,26608.0,15,27.9,N
5993,VERANO,22,5/30/2023,HÁBIL,Martes,432.9,21451.0,21,12.9,N
6001,VERANO,23,6/7/2023,HÁBIL,Miércoles,399.4,19646.0,21,18.4,N

In [26]:
def format_time(value):
    try:
        value = value.replace(',', '.')
        time_obj = datetime.strptime(value, '%H.%M')
        return time_obj.strftime('%H:%M')
    except:
        return None

df_maximos['hora_formateada'] = df_maximos['Hora Potencia Pico'].apply(format_time)

C:\Users\javic\AppData\Local\Temp\ipykernel_14668\382552221.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maximos['hora_formateada'] = df_maximos['Hora Potencia Pico'].apply(format_time)

In [28]:
def combine_date_time(row):
    try:
        fecha_obj = datetime.strptime(row['FECHA'], '%d/%m/%Y')
        hora_obj = datetime.strptime(row['hora_formateada'], '%H:%M')
        combined_datetime = fecha_obj.replace(hour=hora_obj.hour, minute=hora_obj.minute)
        return combined_datetime
    except:
        return None

df_maximos['fecha_completa'] = df_maximos.apply(combine_date_time, axis=1)

C:\Users\javic\AppData\Local\Temp\ipykernel_14668\2192306242.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_maximos['fecha_completa'] = df_maximos.apply(combine_date_time, axis=1)

In [30]:
df_maximos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6006 entries, 0 to 6005
Data columns (total 12 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   VERANO / INVIERNO                              6006 non-null   object
 1   SEMANA                                         6006 non-null   int64
 2   FECHA                                          6006 non-null   object
 3   TIPO DIA                                       6006 non-null   object
 4   DIA                                            6006 non-null   object
 5   Energía SADI (GWh)                             6006 non-null   float64
 6   Potencia Pico SADI (MW)                        6006 non-null   float64
 7   Hora Potencia Pico                             6006 non-null   object
 8   Temperatura Media Diaria GBA  (°C)             6006 non-null   float64
 9   Estado del Tiempo [Claro/Nublado/Seminublado]  6006 non-null   object
 10  hora_formateada                                6002 non-null   object
 11  fecha_completa                                 2373 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(7)
memory usage: 563.2+ KB

In [33]:
df_maximos = df_maximos[['VERANO / INVIERNO', 'SEMANA', 'TIPO DIA', 'DIA', 'Energía SADI (GWh)', 'Potencia Pico SADI (MW)', 'Temperatura Media Diaria GBA  (°C)', 'Estado del Tiempo [Claro/Nublado/Seminublado]', 'fecha_completa']]
df_maximos

,VERANO / INVIERNO,SEMANA,TIPO DIA,DIA,Energía SADI (GWh),Potencia Pico SADI (MW),Temperatura Media Diaria GBA (°C),Estado del Tiempo [Claro/Nublado/Seminublado],fecha_completa
0,VERANO,1,FERIADO,Lunes,277.6,14157.0,29.2,C,2007-01-01 21:05:00
1,VERANO,1,HÁBIL,Martes,325.4,15801.0,26.0,N,2007-02-01 21:02:00
2,VERANO,1,HÁBIL,Miércoles,325.5,16136.0,25.0,N,2007-03-01 21:11:00
3,VERANO,1,HÁBIL,Jueves,334.0,16782.0,25.0,N,2007-04-01 21:16:00
4,VERANO,1,HÁBIL,Viernes,320.3,15321.0,22.6,C,2007-05-01 21:23:00
...,...,...,...,...,...,...,...,...,...
6001,VERANO,23,HÁBIL,Miércoles,399.4,19646.0,18.4,N,NaT
6002,VERANO,23,HÁBIL,Jueves,391.9,19004.0,21.8,N,2023-08-06 20:07:00
6003,VERANO,23,HÁBIL,Viernes,391.8,19758.0,18.0,N,2023-09-06 20:49:00
6004,VERANO,23,SÁBADO,Sábado,405.3,20424.0,10.6,N,2023-10-06 20:20:00
6005,VERANO,23,DOMINGO,Domingo,404.1,21502.0,8.3,C,2023-11-06 21:03:00

In [39]:
df_maximos = df_maximos.rename(columns={
    'VERANO / INVIERNO': 'temporada',
    'TIPO DIA': 'tipo_dia',
    'Energía SADI (GWh)': 'energia_sadi',
    'Potencia Pico SADI (MW)': 'potencia_pico_sadi',
    'Temperatura Media Diaria GBA  (°C)': 'temp_media_diaria_gba',
    'Estado del Tiempo [Claro/Nublado/Seminublado]': 'estado_tiempo',
    'fecha_completa': 'fecha_potencia_pico',
    'SEMANA': 'semana',
    'DIA': 'dia'
})
df_maximos

,temporada,semana,tipo_dia,dia,energia_sadi,potencia_pico_sadi,temp_media_diaria_gba,estado_tiempo,fecha_potencia_pico
0,VERANO,1,FERIADO,Lunes,277.6,14157.0,29.2,C,2007-01-01 21:05:00
1,VERANO,1,HÁBIL,Martes,325.4,15801.0,26.0,N,2007-02-01 21:02:00
2,VERANO,1,HÁBIL,Miércoles,325.5,16136.0,25.0,N,2007-03-01 21:11:00
3,VERANO,1,HÁBIL,Jueves,334.0,16782.0,25.0,N,2007-04-01 21:16:00
4,VERANO,1,HÁBIL,Viernes,320.3,15321.0,22.6,C,2007-05-01 21:23:00
...,...,...,...,...,...,...,...,...,...
6001,VERANO,23,HÁBIL,Miércoles,399.4,19646.0,18.4,N,NaT
6002,VERANO,23,HÁBIL,Jueves,391.9,19004.0,21.8,N,2023-08-06 20:07:00
6003,VERANO,23,HÁBIL,Viernes,391.8,19758.0,18.0,N,2023-09-06 20:49:00
6004,VERANO,23,SÁBADO,Sábado,405.3,20424.0,10.6,N,2023-10-06 20:20:00
6005,VERANO,23,DOMINGO,Domingo,404.1,21502.0,8.3,C,2023-11-06 21:03:00